header {
  height: 62px;
  background-color: var(--gapi-color-bg-secondary);
  display: flex;
  align-items: center;  
}

nav h1 {
  font-size: 24px;
  font-weight: 500;
  color: var(--gapi-color-bg-primary);
}